<div class="blog-post">
  <h2 class="blog-post-title"> <%= link_to blog.title.upcase, blog %>  </h2>
  <p class="blog-post-meta"> Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> Ago  </p>

  <%= render partial: 'blogs/admin_actions', locals: {blog: blog} %>

  <p>
    <% if params[:action] == "show" %>
      <%= blog.body %>
    <% elsif params[:action] == "index"%>
      <%= truncate(sanitize(blog.body, tags: []), length: 350)%>
    <%end%>
  </p>
</div>