<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>Sobre mi</h4>
    <p>
      Hola! Mi nombre es Manuel, soy un desarrollador web mexicano
    </p>
    <p>
      Me apasionan los productos intuitivos y las interfaces visuales meticulosas. Me gusta analizar el contexto y los comportamientos de los usuarios para crear las mejores soluciones para cada proyecto. También he trabajado como desarrollador de aplicaciones para usuario en algunos proyectos, especialmente cuidando los estilos aplicados y la integración con complementos interactivos.
    </p>  
  </div>

  <%= source_helper("alert alert-primary blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Categorias</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>  
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Sigueme en mis redes sociales</h4>
    <ol class="list-unstyled social-links">
      <li><a href="http://www.github.com/mgznv"><%= fa_icon "github-alt " %></a></li>
      <li><a href="http://www.facebook.com/mgznv"><%= fa_icon "facebook " %></a></li>
      <li><a href="http://www.twitter.com/mgznv"><%= fa_icon "twitter " %></a></li>
      <li><a href="http://www.instagram.com/mgznv"><%= fa_icon "instagram " %></a></li>
    </ol>
  </div>
</div>